# Folder containing smaller versions of the MIMIC-III csv files for debugging 
# the conversion code
small_csvs

# Files that are too large to push to GitHub
*.pkl
converted_data/feature.csv

# Folder with datasets split into parts for training, val, and test
datasets/